*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    width:100%;
    height:100%;
    position:fixed;
    z-index:-1;
    opacity:0.8;
}

.container{
    max-width:600px;
    margin: auto;
    background:rgba(255,255,255,0.9);
    padding:30px;
    border-radius:10px;
}

h2, p{
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
}

input, textarea{
    margin:10px 0;
    padding:10px;
    border-radius:6px;
    border:1px solid #333;
    font-size:16px;
}

.btn{
    background:purple;
    color:white;
    padding:12px;
    border:none;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

.btn:hover{
    background:darkmagenta;
}
